<!DOCTYPE html>
<html>
  <head>
    <title>modular manifestation v0.1</title>
    <!-- todo: only load google fonts if local not present -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="/javascripts/external/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/external/socket.io.js"></script>
    <script src='/javascripts/lib/pantone.js' /></script>
    <script src='/javascripts/lib/content.js' /></script>
    <script src='/javascripts/lib/svg.js' /></script>
    <script src='/javascripts/lib/midicontrol.js' /></script>
    <script src='/javascripts/lib/utils.js' /></script>
    <script type="module" src='/javascripts/modular.js' /></script>
  </head>
  <body>
<!--         <svg id="results" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" height="500" viewBox="0 0 250 250"></svg> -->

  <div class="sidebar">

    <div id="master-force">
      <input id="master-toggle" type="checkbox" name="master_force" value="on" checked>Force Master<br>
    </div>

    <h2>MIDI Mapping</h2>
    <ul id="midi-mapping"></ul>
  </div>
  <div class="footer">
    <div id="active-params">&nbsp;</div>
  </div>
  </body>
</html>