html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Neue Haas Grotesk', sans-serif;
	background: #000;
	overflow: hidden;
}

.container {
	margin: 40px;
}

#results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	margin-top: 40px;
}

h1 {
	font-weight: 700;
	font-size: 36px;
}

h2 {
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

h3 {
	font-weight: 700;
	font-size: 18px;
}

h4 {
	margin-top: 5px;
}

.box {
	height: 30px;
	min-width: 40px;
	margin: 5px;
	font-size: 12px;	
	padding: 5px;
}

.div-box {
	background-color: #01acc2;
	color: #fff;
}

.img-box {
	background-color: #ffbf46;
	color: #33364c;
}

.a-box {
	background-color: #c51162;
	color: #fff;
}

.script-box {
	background-color: #ff4350;
	color: #fff;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #abb1ba;
  color: "#000";
  text-align: left;
  min-height: 30px;
  font-weight: 100;
}

#active-params {
	margin-left: 5px;
	margin-top: 5px;
}

.param-val {
	display: inline-block;
	margin-right: 10px;
	letter-spacing: 1px;
}

b {
	font-weight: 500;
}


.sidebar {
	position: fixed;
	background: rgba(171, 177, 186, 0.5);
	min-width: 200px;
	height: 100%;
	padding: 10px;
}

#master-force {
	margin-top: 10px;	
	font-weight: 100;
}

#master-force input {
	margin-right: 7px;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 100;
}

#midi-mapping {
	margin-top: 20px;
}

li {
	margin-top: 10px;
	margin-bottom: 5px;
}